/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilado para el fondo */
body {
  background-image: url(https://steamuserimages-a.akamaihd.net/ugc/2310974141604980016/B4EF3A7A2D1772DE26B1A6F51CE33A04FD8BB917/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilado del encabezado */
header h1 {
  color: rgb(255, 255, 255);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 60px;
  text-align: center;
  position: relative;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin: 20px 0; /* Espacio entre el encabezado y la siguiente sección */
}

/* Menú de navegación en el lateral */
nav {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10px 0;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.7);
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

.menu li {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 18px;
}

.menu li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
}

.menu li a:hover {
  color: #ffa500;
}

/* Contenido Principal */
.main-content {
  margin-left: 250px; /* Deja espacio para el menú lateral */
  max-width: 700px;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 8px;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  line-height: 1.8;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  flex-grow: 1;
}

/* Responsividad para móviles */
@media (max-width: 768px) {
  nav {
    position: static;
    width: 100%;
    height: auto;
    display: flex;
  }

  .menu {
    flex-direction: row;
    justify-content: space-around;
  }

  .main-content {
    margin-left: 0;
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 40px;
  }
}

  .menu li {
    font-size: 16px;
  }







































