
body {
    background-image: url(../imagenes/fondo.jpg.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    margin: 0; 
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white; 
    font-size: 24px;
    font-family: Arial, sans-serif;
}

